* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', arial, sans-serif;
}

:root {
    /* === color === */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --tougle-color: #ddd;
    --fonts-color: #707070;
    /* === transition === */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    background-color: var(--body-color);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--sidebar-color);
    padding: .5rem .7rem;
}

.sidebar .img-text img {
    width: 90px;
    border-radius: 30%;
    /* padding: .5rem; */
}