* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', arial, sans-serif;
}

:root {
    /* === color === */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --tougle-color: #ddd;
    --fonts-color: #707070;
    /* === transition === */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-04);
}

body.dark {
    --body-color: #020614;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3c3b;
    --tougle-color: #ddd;
    --fonts-color: #ccc;
}

/* === sidebar === */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--sidebar-color);
    padding: .5rem .7rem;
    transition: var(--tran-05);
    z-index: 100;
}

/* === untuk fungsi tombol close === */
.sidebar.close {
    width: 88px;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar.close header .toggle {
    /* transform: translateY(-50%) rotate(180deg); */
    transform: translateY(-50%);
}


/* === resauble css === */
.sidebar .text {
    font-size: 1rem;
    font-weight: 500;
    color: var(--fonts-color);
    transition: var(--tran-02);
    white-space: none;
    opacity: 1;
}

.sidebar .img {
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar header {
    position: relative;
}

.sidebar .img-text img {
    width: 60px;
    border-radius: 30%;
}

.sidebar header .img-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .img-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profesion {
    margin-top: -.2rem;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    color: var(--tougle-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 40% 40% 4px;
    font-size: 1.5rem;
    transition: var(--tran-03);
}

/* === .menu-bar === */
.sidebar li {
    height: 50px;
    margin-top: .5rem;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    min-width: 60px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--fonts-color);
    transition: var(--tran-02);
}

.sidebar li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .search-box {
    background-color: var(--primary-color-light);
    border-radius: 10px;
    transition: var(--tran-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color-light);
    outline: none;
    border: none;
    border-radius: 10px;
}

.sidebar .menu-bar {
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    background-color: var(--primary-color-light);
    margin-bottom: 3.2rem;
    border-radius: 6px;
}

.menu-bar .mode .moon-sun {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    background-color: var(--primary-color-light);
    border-radius: 10px;
}

.toggle-switch .switch {
    width: 44px;
    height: 22px;
    position: relative;
    background-color: var(--tougle-color);
    border-radius: 25px;
}

.switch::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--sidebar-color);
    transition: var(--tran-03);
}

/* ===body class dark=== */
body.dark .switch::before {
    left: 24px;
}

body.dark .sidebar header .toggle {
    color: var(--fonts-color);
}

body.dark .sidebar header .toggle {
    /* transform: rotate(180deg); */
    color: var(--fonts-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--tougle-color);
}

/* === === */
.home {
    position: relative;
    height: 100vh;
    width: calc(100% -250px);
    left: 250px;
    background-color: var(--body-color);
    transition: var(--tran-04);
}

.home .text {
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--fonts-color);
    padding: .4rem 2.5rem;
}

.sidebar.close~.home {
    left: 88px;
    width: calc(100% - 88px);
}