* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Caveat", arial, sans-serif, times;
}

:root {
    /* === color === */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #10745c;
    --primary-color-light: #f6f5ff;
    /* --tougle-color: #ddd; */
    --fonts-color: #707070;
    --font-color: #202020;

    /* === transition === */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

    /* === box-shadow === */
    --shadow: inset 0 1px 10px rgba(0, 0, 0, 1);
}

body {
    background-color: var(--body-color);
    color: var(--font-color);
    padding: 1.9rem .9rem;
    height: 1100vh;
}

/* === main-container === */
.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.page-header {
    text-align: center;
    letter-spacing: -1px;
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 3.6rem;
    position: relative;
}

.page-header h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 10px;
    bottom: -10px;
    left: 50%;
    right: -50%;
    transform: translateX(-50%);
    animation: animation 4s linear infinite;
}

@keyframes animation {

    0%,
    100% {
        width: 100px;
    }

    50% {
        width: 200px;
    }
}

/* === grid for mobile phone === */
.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
}

/* === card style css === */
.card {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    background-color: var(--primary-color-light);
    border-radius: 15px;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow);
}

.card .img {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px 10px 2px 2px;
    margin-bottom: 1rem;
}

.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--tran-03);
}

.card .img:hover img {
    transform: scale(1.2);
}

.card .img .card-bedge {
    position: absolute;
    top: 12px;
    left: 74%;
    background-color: rgba(0, 0, 0, .3j);
    color: var(--sidebar-color);
    padding: .5rem;
    border-radius: 10px;
    font-size: .89rem;
    font-weight: 700;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1rem;
}

.card-content .content {
    margin-bottom: 1.2rem;
}

.card-content .content .card-categori {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--fonts-color);
}

.card-content .content .card-title {
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: .89rem;
    font-size: 2.2rem;
    font-weight: 900;
    color: var(--primary-color);
}

.card-content .content .card-descripsi {
    padding: 0 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: times;
}

.card-content .card-price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.7rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--fonts-color);
}

.card-price .price-current {
    color: var(--font-color);
}

.card-price .price-old {
    font-size: 1.1rem;
    text-decoration: line-through;
    text-decoration-color: #de304a;
}

.card-content .btn {
    padding: .8rem .3rem;
    margin: 0 auto;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: -1px;
    outline: none;
    border-radius: 15px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping {
    /* ===properti khusus feather icon=== */
    fill: var(--fonts-color);
    stroke: var(--font-color);

    /* Ukuran ikon */
    width: 28px;
    height: 29px;
}

.card-content .btn:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    border: none;
}

.card-content .btn:active {
    background-color: #063b2f;
}








/* ==========================================
   4. MEDIA QUERIES (BREAKPOINTS)
   ========================================== */

/* --tablet (lebar > 640px) => repeat 2 kolom-- */

@media (min-width: 640px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* --desktop atau pc (lebar > 1024px) => repeat 3 kolom-- */

@media (min-width: 1024px) {
    body {
        padding: 2.7rem 1.5rem;
    }

    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .pade-header {
        font-size: 2.7rem;
    }
}