* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--family);
}

:root {
    /* Color Palette */
    --body-color: #e4e9f7;
    --card-color: #ffffff;
    --primary-color: #10745c;
    --primary-hover: #0c5946;
    --font-title: #202020;
    --font-sub: #707070;
    --border-color: #dcdcdc;

    /* Soft Box Shadow */
    --shadow-card: inset 0px -1px 6px rgba(0, 0, 0, 0.9), inset 0px -1px 6px rgba(255, 255, 255, .7);

    /* Fonts & Transition */
    --family: 'Inter', 'Playfair Display', sans-serif;
    --tran-fast: all 0.2s ease;
}

body {
    background-color: var(--body-color);
    color: var(--font-title);
    min-height: 100vh;
    padding: 1.4rem .9rem;
}

/* === grid for mobile fist === */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
}

/* === css style content card === */

.main-container {
    max-width: 1200px;
    margin: 1.3rem auto;
}

/* === style and animasi for header h1 === */
.page-header {
    text-align: center;
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
    margin-bottom: 3.3rem;
}

.page-header h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: var(--primary-hover);
    border-radius: 5px;
    bottom: -20px;
    left: 50%;
    right: -50%;
    transform: translateX(-50%);
    animation: animation 4s linear infinite;
}

@keyframes animation {

    0%,
    100% {
        width: 100px;
    }

    50% {
        width: 200px;
    }
}