* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--family);
}

:root {
    /* Color Palette */
    --body-color: #e4e9f7;
    --card-color: #ffffff;
    --primary-color: #10745c;
    --primary-hover: #0c5946;
    --font-title: #202020;
    --font-sub: #707070;
    --border-color: #dcdcdc;

    /* Soft Box Shadow */
    --shadow-card: inset 0px -1px 6px rgba(0, 0, 0, 0.9), inset 0px -1px 6px rgba(255, 255, 255, .7);

    /* Fonts & Transition */
    --family: 'Inter', sans-serif;
    --font-serif: 'Playfair Display', serif;
    --tran-fast: all 0.2s ease;
}

body {
    background-color: var(--body-color);
    color: var(--font-title);
    min-height: 100vh;
    padding: 1.4rem .9rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* === style main container === */
.main-container {
    max-width: 1200px;
    margin: 1.3rem auto;
    padding: 0 1rem;
}

/* === card-grid for mobile first ===  */
.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 2.3rem;
}

/* === page-header and animation h1 === */
.page-header {
    position: relative;
    text-align: center;
    letter-spacing: -1px;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 3.3rem;
}

.page-header h1 {
    font-family: var(--font-serif);
    color: var(--font-sub);
}

.page-header h1::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 3px;
    background-color: var(--primary-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animation 4s linear infinite;
}

@keyframes animation {
    0% {
        transform: translateX(-50%) scaleX(0);
        background: red;
    }

    50% {
        transform: translateX(-50%) scaleX(1);
        background: var(--primary-color);
    }

    100% {
        transform: translateX(-50%) scaleX(0);
        background: cyan;
    }
}

/* ======= card ======= */
.card {
    width: 100%;
    max-width: 360px;
    position: relative;
    margin: 0 auto;
    /* overflow: hidden; */
    border-radius: 15px;
}

.card-img {
    width: 100%;
    height: 320px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease;
}

.card:hover .card-img {
    transform: scale(1.05);
}

.card-data {
    width: 280px;
    /* background-color: rgba(255, 255, 255, .4); */
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 1.3rem 2rem;
    box-shadow: var(--shadow-card);
    position: absolute;
    bottom: -9rem;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    z-index: 1;
}

.card-description {
    display: block;
    font-size: .87rem;
    font-weight: 500;
    color: var(--card-color);
    margin-bottom: 1.1rem;
    line-height: 1.3rem;
    padding: 0 1rem;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.9), 0px 0px 6px rgba(255, 255, 255, .7);
}

.card-title {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: var(--font-serif);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: .8rem;
    color: var(--card-color);
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.9), 0px 0px 6px rgba(255, 255, 255, .7);
}

.card-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.card-price .card-link {
    padding: .2rem .4rem;
    border-radius: 8px;
    box-shadow: var(--shadow-card);
    display: flex;
    align-items: center;
    font-size: .78rem;
    font-weight: 600;
    text-decoration: none;
    color: #002065;
    cursor: pointer;
}

.icons svg {
    width: 16px;
    height: 16px;
}

.card-price .card-link:hover {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: none;
    transition: var(--tran-fast);
}

.card-price .card-link:active {
    transform: scale(.9);
    transition: var(--tran-fast);
}

.card-price .price {
    font-size: .87rem;
    padding: 1rem;
}

.price span {
    font-size: .67rem;
    font-weight: 600;
}

/* === card animation === */
.card:hover .card-data {
    animation: showCard 2s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card:hover {
    animation: removeCard 1s forwards;
}

.card:not(:hover) {
    animation: showOverflow 2s forwards;
}

.card:not(:hover) .card-data {
    animation: removeCardData 1s forwards;
}

/* === keyframes animation === */
@keyframes showCard {
    /* 0% {
        transform: scaleY(0);
    } */

    50% {
        transform: translateX(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes removeCard {
    to {
        overflow: initial;
    }
}

@keyframes removeCardData {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-.5rem);
    }
}

@keyframes showOverflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
        /* pointer-events: auto; */
    }
}

/* ==========================================
   4. MEDIA QUERIES (BREAKPOINTS)
   ========================================== */

/* --tablet (lebar > 640px) => repeat 2 kolom-- */
@media (min-width: 640px) {
    .card-grid {
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* --desktop atau pc (lebar > 1024px) => repeat 3 kolom-- */
@media (min-width: 1024px) {
    .card-grid {
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .page-header {
        font-size: 1.8rem;
    }
}