* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f5f5f5;
    --secondary-color: #333;
    --accent-color: #ff6f61;
    --font-family: 'Arial', sans-serif;
}

html,
body {
    /* height: 100%; */
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background-color: var(--primary-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.main-container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 10px;
    box-shadow: 0 30px 50px var(--secondary-color);
    background-position: 50% 50%;
    background-size: cover;
    transition: all 0.5s ease;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3) {
    left: 50%;
}

.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}


/* here n = 0, 1, 2, 3, 4, 5 ... */
.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

/* .item .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
} */

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: var(--primary-color);
    transform: translate(0, -50%);
    font-family: inherit;
    display: none;
}

.slide .item:nth-child(2) .content {
    display: block;
}

.content .name {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.content .des {
    margin-top: .8rem;
    margin-bottom: 1.2rem;
}

.content button {
    padding: 0.8rem 1.6rem;
    border: none;
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}