* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--family);
}

:root {
    /* Color Palette */
    --body-color: #e4e9f7;
    --card-color: #ffffff;
    --primary-color: #10745c;
    --primary-hover: #0c5946;
    --font-title: #202020;
    --font-sub: #707070;
    --border-color: #dcdcdc;

    /* Soft Box Shadow */
    --shadow-card: inset 0px -1px 6px rgba(0, 0, 0, 0.9), inset 0px -1px 6px rgba(255, 255, 255, .7);

    /* Fonts & Transition */
    --family: 'Playfair Display', sans-serif;
    --tran-fast: all 0.2s ease;
}

body {
    background-color: var(--body-color);
    color: var(--font-sub);
    min-height: 100vh;
    padding: 1.5rem 1rem;
}

/* === style dasar === */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 440px;
}

/* === card style === */
.form-card {
    padding: 2.5rem 2rem;
    background-color: var(--card-color);
    border-radius: 20px;
    box-shadow: var(--shadow-card)
}

/* === style page-header === */
.page-header {
    text-align: center;
    margin-bottom: 2rem;
}

.page-header h2 {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    color: var(--primary-hover);
    position: relative;
    display: inline-block;
}

.page-header h2::before {
    content: '';
    height: 3.5px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    background-color: var(--primary-color);
    transform: translateX(-50%);
    border-radius: 10px;
    animation: pulseLine 3s ease-in-out infinite;
}

@keyframes pulseLine {

    0%,
    100% {
        width: 40px;
    }

    50% {
        width: 90px;
    }
}

/* === style input-group === */
.input-group {
    margin-bottom: 1.25rem;
}

.input-group label {
    display: block;
    font-size: .99rem;
    font-weight: 600;
    margin-bottom: .4rem;
}

.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.input {
    width: 100%;
    padding: .78rem 2rem .78rem 1rem;
    border: 1px solid var(--body-color);
    outline: none;
    border-radius: 8px;
    font-size: .75rem;
    background-color: var(--border-color);
    box-shadow: var(--shadow-card);
    transition: var(--tran-fast);
}

.input:focus {
    transform: translateX(10px);
    outline: none;
}

/* === icons and toggle button === */
.input-icon,
.toggle-password {
    position: absolute;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: var(--font-sub);
    border: none;
    cursor: pointer;
}

.toggle-password:hover {
    color: var(--primary-hover);
}

.input-icon svg,
.toggle-password svg {
    width: 14px;
    height: 14px;
}

/* === form option (checkbox dan forget password) === */
.form-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.4rem;
    font-size: .87rem;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checkbox input[type='checkbox'] {
    width: 18px;
    height: 18px;
    accent-color: var(--primary-color);
    cursor: pointer;
    box-shadow: var(--shadow-card);
}

.checkbox label {
    cursor: pointer;
}

.forget-password {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    transition: var(--tran-fast);
}

.forget-password:hover {
    text-decoration: underline;
}

/* === button .btn-submit === */
.btn-submit {
    margin-bottom: 1rem;
}

.btn-submit button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--card-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    transition: var(--tran-fast);
    cursor: pointer;
}

/* === social google === */
.social-login {
    color: var(--primary-color);
    text-align: center;
    font-weight: 600;
    /* padding-top: 1.25rem; */
}

.social-login>span {
    display: block;
    padding: .8rem;
    margin-bottom: .8rem;
    font-size: .87rem;
    /* border: 1px solid var(--border-color); */
    border-radius: 8px;
}

.social-login .btn-google {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    width: 100%;
    padding: .6rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 500;
    color: var(--font-title);
    transition: var(--tran-fast);
    box-shadow: var(--shadow-card);
}

.btn-google :hover {
    background-color: var(--card-color);
}

.btn-google img {
    width: 25px;
    height: 25px;
}